In [ ]:
# Excercise 1
print("Please enter two different numbers.\n")
first_num = float(input("Please enter the first number: "))
second_num = float(input("Please enter the second number: "))
if first_num > second_num:
  print("First number is greater")
else:
  print("Second number is greater")

Please enter two different numbers.

Please enter the first number: 5
Please enter the second number: 4
First number is greater

In [ ]:
# Excercise 2
print("Please enter three different numbers.\n")
first_num = float(input("Please enter the first number: "))
second_num = float(input("Please enter the second number: "))
third_num = float(input("Please enter the third number: "))
if first_num > second_num and first_num > third_num:
  print("First number is greater")
elif second_num > first_num and second_num > third_num:
  print("Second number is greater")
else:
    print("Third number is greater")

Please enter three different numbers.

Please enter the first number: 15
Please enter the second number: 21
Please enter the third number: 20
Second number is greater

In [ ]:
# Excercise 3
a = float(input("Please enter a number other than 0: "))
if a < 0:
  print("Number is negative")
else:
  print("Number is positive")

Please enter a number other than 0: -6
Number is negative

In [ ]:
# Excercise 4
a = float(input("Please enter a number: "))
if a%2==0:
  print("Number is even.")
else:
  print("Number is odd.")

Please enter a number: 5
Number is odd.

In [ ]:
# Excercise 5
year = int(input("Please enter a year: "))
if (year%4==0 and year%100==0 and year%400==0) or (year%4==0 and not year%100==0 ):
  print("Leap year.")
else:
  print("Not a leap year.")

Leap year.

In [ ]:
# Excercise 6
week_days=["Saturday","Sunday","Monday","Tuesday","Wednesday","Thursday","Friday"]
for (num,day) in enumerate(week_days,start=1):
  print(num,day)

In [30]:
# Excercise 7
i=97
while i<=122:
  print(chr(i),end=" ")
  i+=1

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [29]:
# Excercise 8
nums = input("Please enter some numbers with a comma in between: ").split()
nums.sort(reverse=True)
print(nums)

Please enter some numbers with a comma in between: 0 5 84 75
['84', '75', '5', '0']

In [6]:
# Excercise 9
num=int(input("Please enter a number: "))
for i in range(1,11):
  print(f"{num*i}",end=" ")

Please enter a number: 5
5 10 15 20 25 30 35 40 45 50

In [9]:
# Excercise 10
i=0
while i<101:
  print(i,end=" ")
  i+=1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100