In [1]:
### program to count number of vowels using sets in given string
vowels=set("aeiou")
s1=input("enter word: ").lower()
sum =0
for i in s1:
  if i in vowels:
    sum+=1
print(sum)

enter word: omar
2

In [20]:
### Write a Python program to add an item to a tuple.
t1 = (1,2,3)
x=int(input("enter a number: "))
t1=list(t1)
t1.append(x)
print(t1)

enter a number: 5
[1, 2, 3, 5]

In [22]:
### Write a Python program to multiply all the items in a list.
lst = [1,2,3,4,5,6,7,8,9]
mul = 1
for i in lst:
  mul*=i
print(mul)

362880

In [26]:
### Write a Python program to get the smallest number from a list.
l1=[99,54,12,1004,6547,21,20]
print(min(l1))

12

In [27]:
### Write a Python program to get the largest number from a list.
l1=[99,54,12,1004,6547,21,20]
print(max(l1))

6547

In [28]:
### Write a Python program to clone or copy a list
l1=[99,54,12,1004,6547,21,20]
l2=[]
for i in l1:
  l2.append(i)
print(l2)

[99, 54, 12, 1004, 6547, 21, 20]

In [29]:
### Write a Python program to remove item(s) from a given set.

s = set([0, 1, 3, 4, 5])
s.remove(3)
print(s)

{0, 1, 4, 5}

In [31]:
### Write a Python program to find the maximum and minimum values in a set.
s = set([0, 1, 3, 4, 5])
print(f"max is {max(s)}, min is {min(s)}")

max is 5, min is 0

In [33]:
### Write a Python program to convert a tuple to a dictionary.
t1=(("Omar",9),("Khaled",10))
t1=dict(t1)
print(t1)

{'Omar': 9, 'Khaled': 10}

In [34]:
### Write a Python program to replace the last value of tuples in a list.

### Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

### Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]
nums=[(10,20,30),(40,50,60),(70,80,90)]
output=[(x,y,100) for x,y,z in nums ]
print(output)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]